<!DOCTYPE html>
<html>
	<head>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
	</head>
	<body>
	<div ng-app="" ng-init="person={firstName:'Noreen', lastName:'Olia'}">
		<p>The First Name is: {{person.firstName}}</p>
		<p>The Last Name is: <span ng-bind="person.lastName"></span></p>
	</div>
		
	</body>
</html>