<!DOCTYPE html>
<html>
	<head>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
	</head>
	<body>
	<div ng-app="" ng-init="firstName='Noreen'; lastName='Olia'">
	<p>Full name : {{firstName + " " +lastName}}</p>
	<p>Full Name is: <span ng-bind="firstName + ' '+ lastName"></span></p>
		
	</div>
		
	</body>
</html>