<!DOCTYPE html>
<html>
	<head>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
	</head>
	<body>
	<div data-ng-app="">
		<p>My first expression: {{5+10}}</p>
	</div>
		
	</body>
</html>