<!DOCTYPE html>
<html>
	<head>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
	</head>
	<body>
	<div data-ng-app="">
		<input type="text" ng-model="name">
		<p>My name is {{name}}</p>
	</div>
		
	</body>
</html>