<!DOCTYPE html>
<html>
	<head>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
	</head>
	<body>
	<div ng-app="" ng-init="myCol='lightblue'">
		<input style="background-color:{{myCol}}" ng-model="myCol" value="{{myCol}}">
	</div>
		
	</body>
</html>