<!DOCTYPE html>
<html>
	<head>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
	</head>
	<body>
	<div ng-app="" ng-init="quantity=2; cost=34">
		<p>Total in dollar:{{quantity * cost}}</p>
	</div>
		
	</body>
</html>