<!DOCTYPE html>
<html>
	<head>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
	</head>
	<body>
	<div ng-app="myApp" ng-controller="myCtrl">
		<input type="text" ng-model="firstName">
		<input type="text" ng-model="lastName">
		<p>Full Name: {{firstName + " "+ lastName}}</p>
	</div>
	<script>
		var app= angular.module('myApp',[]);
		app.controller('myCtrl' ,function($scope){
			$scope.firstName="Noreen";
			$scope.lastName="olia";
		});
		
	</script>
	</body>
</html>